body{
	margin: 0;
	font-family: latha;
	color:white;
	background: url(../img/bg1.png)no-repeat;
	background-size: cover;
}		
/* Style the navigation*/								
.topnav {					
	overflow: hidden;
	background-color: #333;
	opacity: 0.9;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover{
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #bf1e2e;
	color: white;
}

.topnav-right {
	float: right;
}
/* Style the navigation*/			

/* Style the body */
.wd{
	margin: 60px 420px;
	width: 1000px;
	height: 700px;
	opacity: 0.9;
	padding: 55px;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}



/* Style the buttons */
.button {
	margin: 10px 200px;
	padding: 10px;
	font-size:15px;
	color: #ddd;
	background: #bf1e2e;
	border: 1px solid #333;
	border-radius: 10px;
	font-family: arial;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}

.button:hover{
	background-color:#ddd;
	color: black;
}

.btndelete{
	background-color: red;
	margin: -100px 800px;
	font-size:15px;
	color: #ddd;
	background: #bf1e2e;
	border: 1px solid #333;
	border-radius: 10px;
	font-family: arial;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	font-weight: bold;
}
.btndelete:hover{
	background-color:#ddd;
	color: black;
}

.btnorder{
	margin: -32px 800px;
	font-size:15px;
	color: #ddd;
	background: #bf1e2e;
	border: 1px solid #333;
	border-radius: 10px;
	font-family: arial;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	font-weight: bold;
}
.btnorder:hover{
	background-color:#ddd;
	color: black;
}

.btnorderedit{
	margin: -47px 710px;
	font-size:15px;
	color: #ddd;
	background: #009b15;
	border: 1px solid #333;
	border-radius: 10px;
	font-family: arial;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	font-weight: bold;
}
.btnorderedit:hover{
	background-color:#ddd;
	color: black;
}
/* Style the buttons */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #333;
}
/* Style the tab */

/* Style the buttons inside the tab */
.tab button {
  background-color: #333;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: darkgrey;
}
/* Style the buttons inside the tab */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: black;
}
/* Change background color of buttons on hover */

/* Create an active/current tablink class */
.tab button.active {
  background-color: #bf1e2e;
  color: white;
}
/* Create an active/current tablink class */

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  height: 650px;
}
/* Style the tab content */

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* Fade in tabs */

/* Style the text inside li */
.textpm{
	padding: 10px;
}

.textmsg{
	padding: 10px;
}
/* Style the text inside li */

/* Style the ul */
ul {
	list-style-type: none;
	background:white;
	color:black;
}

.textcenter{
    margin: 280px 0px;
    text-align:center;
    background: #bf1e2e;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}